.gamePage {
  width: 100%;
  h3 {
    max-width: 600px;
    text-align: center;
    font-family: $header-font;
    margin: 2rem auto;
  }
}

.currentUser {
  display: flex;
  justify-content: space-between;
  font-family: $body-font;
  color: $lime-green;
  text-shadow: 0 0 5px $turquoise, 0 0 10px $turquoise, 0 0 20px $turquoise, 0 0 40px $turquoise;
  font-size: 3rem;
}

.triviaChoiceContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.triviaChoice {
  padding: 4rem;
  color: $navy;
  border: 1px solid black;
  margin: 20px;
  flex: 1 0 410px;
}
