.lobbyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addUserForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  max-width: 300px;
  input {
    background-color: transparent;
    color: $white;
    border: 2px solid $turquoise;
    border-radius: 5px;
    padding: 8px 0;
  }
  button {
    border: none;
    white-space: nowrap;
    font-size: 2rem;
    color: $white;
    font-family: $body-font;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: $turquoise;
  }
}

input:focus,
input:hover,
button:focus,
button:hover,
.addUserForm button:focus,
input[type='radio']:hover + label,
input[type='radio']:focus + label,
select:focus {
  outline: 2px solid $white;
}

.optionsTitleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  font-family: $body-font;
  h3 {
    padding: 6px;
    white-space: nowrap;
  }
  .optionsTitleBorder {
    border-bottom: 3px solid white;
    width: 30%;
  }
}

.triviaOptionsForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 15px 0;
}

.formButton {
  text-align: center;
  border: 2px solid $white;
  background-color: transparent;
  box-shadow: 
  0 0 0.5rem $white, 
  inset 0 0 0.5rem $white, 
  0 0 5rem $turquoise;
  padding: 5px 10px;
  margin: 20px 0;
  white-space: nowrap;

  font-family: $body-font;
  font-size: calc(2rem + 0.5vw);
  text-transform: uppercase;
  text-decoration: none;
  color: $lime-green;

  text-shadow: 
  0 0 5px $turquoise, 
  0 0 10px $turquoise, 
  0 0 20px $turquoise, 
  0 0 40px $turquoise;
}

.formButton:hover {
  animation: flicker 4s infinite;
}

.contestantsContainer {
  width: 100%;
  max-width: 800px;
}

.userProfileList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 150px;
  border: 4px solid $lime-green;
  box-shadow: 
  0 0 0.5rem $white, 
  inset 0 0 0.5rem $white;
  margin: 10px;
  position: relative;
  .userProfileName {
    font-size: 3rem;
    margin: 0;
    color: $white;
  }
  
  .removeUser {
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
    color: $turquoise;
    cursor: pointer;
  }

  .removeUser:hover,
  .removeUser:focus {
    outline: none;
    color: $white;
  }

  .imageContainer {
    max-width: 100px;
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.formRow {
  display: flex;
  margin: 20px 0;
  > .formBox {
    width: 50%;
  }
}

.formBox {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  label {
    text-align: center;
    font-family: $body-font;
    font-size: 2rem;
  }
  input {
    margin: 5px 0;
    line-height: 2rem;
    padding-left: 5px;
  }
  input[type='radio'] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }
  input[type='radio'] + label {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.15s ease-in;
  }
  input[type='radio']:checked + label {
    background-color: $turquoise;
  }

  select {
    margin: 5px 0;
    padding: 8px 0;
    height: 4.5rem;
    font-size: 2rem;
    text-align: center;
    background-color: transparent;
    color: $white;
    border: 2px solid $turquoise;
    border-radius: 5px;
  }
  select > option {
    height: 4rem;
    font-size: 2rem;
    background-color: $black;
  }
}

fieldset {
  border: none;
  legend {
    margin-left: auto;
    margin-right: auto;
  }
}

.triviaLabel {
  font-family: $body-font;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $pale-green;
  font-weight: 700;
  letter-spacing: 1px;
}

.contestantsContainer {
  min-height: 200px;
}

.linkContainer {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .linkContainer {
    flex-direction: column;
    align-items: center;
  }

  .addUserForm {
    flex-direction: column;
    align-items: stretch;
    button {
      align-self: center;
    }
  }

  .triviaOptionsForm {
    .formRow {
      flex-direction: column;
      .formBox {
        width: inherit;
      }
    }
  }
}
