//header font
$header-font: 'Roboto', sans-serif;
//body font
$body-font: 'Open Sans', sans-serif;
//color palette
$white: #fff;
$purple: #3c1642;
$navy: #0e0e52;
$teal: #086375;
$turquoise: #1dd3b0;
$lime-green:#affc41;
$pale-green: #b2ff9e;