// LOBBY line 93

main {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.lobbyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.contestantsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfileList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
}

.userProfile {
    display: flex;
    border: 2px solid lightgreen;
    width: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
  
}

.userProfileName {
    font-size: 30px;
    text-align: center;
    margin: 0px;
    color: lightblue;
   

}

.userProfileAvatar {
    width: 100%;
    align-self: flex-start;
}

.removeUser {
    font-size: 15px;
    margin-top: 10px;
    text-decoration: underline;
    color: green;
}






// GAME SUMMARY line 13

.summaryWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    h2 {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
}

.playerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}