@import './setup.scss';
@import './variables.scss';
@import './home.scss';

html {
  font-size: 62.5%;
  background-color: $purple;
  background: linear-gradient($navy 10%, $purple 100%);
  color: $white;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

header {
  text-align: center;
}

main {
  height: 100%;
}

.avatar {
  max-width: 75px;
}

footer {
  font-family: $body-font;
  font-size: 1.6rem;
  text-align: center;
  background-color: $pale-green;
  position: relative;
  bottom: 0;
  width: 100%;
}
