@import './setup.scss';
@import './variables.scss';
@import './home.scss';
@import './lobby';
@import './game';
@import './gameSummary';
@import './leaderboard';

html {
  font-size: 62.5%;
  background-color: $purple;
  background: linear-gradient($navy 10%, $purple 100%);
  color: $white;
}

body {
  font-size: 1.6rem;
  font-family: $body-font;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

header {
  text-align: center;
}

h2 {
  font-family: $header-font;
  color: $lime-green;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.avatar {
  max-width: 75px;
}

footer {
  font-family: $body-font;
  font-size: 1.6rem;
  text-align: center;
  background-color: $pale-green;
  position: relative;
  bottom: 0;
  width: 100%;
  color: $navy;
  a {
    text-decoration: none;
    color: $junoOrange;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
}
